\#*\#
\.\#*
*.pyc
*.pyo
*~
*.py,cover
*.bck
build
*.swp
doc/build
doc/source/bliss.*rst
doc/site
.coverage
# for eclipse users
.settings/
.project
.pydevproject
beacon.rdb
.cache/
dump.rdb
*.egg-info/
htmlcov/
.eggs
.coverage*
.pytest_cache/
.vscode/*
*.so
bliss/release.py
prof
.mypy_cache/
graph.dot
graph.png
