# Hidden files
.*

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
*.egg-info/
.eggs/

# Unittest / coverage
*.py,cover
.coverage.*
htmlcov/
.cache/
.pytest_cache/

# Profiler
/prof/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Backup from text editor
*~
*.bck
*.swp
\#*\#


# Eclipse IDE
/.settings/
/.project
/.pydevproject

# VisualStudio IDE
/.vscode/
/.history/

# Project documentation
/doc/build
/doc/source/bliss*.rst
/doc/site

# Redis output
/beacon.rdb
/beacon_data.rdb
/tests/test_configuration/beacon.rdb
/tests/test_configuration/beacon_data.rdb
/dump.rdb

# Various project file
/bliss/release.py
/graph.dot
/graph.png
