image: docker-registry.esrf.fr/bcu/ci-conda

stages:
  - tests
  - build_user_doc
  - build_doc
  - deploy

tests:
  stage: tests
  before_script:
    - source activate tango2.7
    - conda install --yes --channel http://bcu-ci.esrf.fr/stable --file requirements-conda.txt
    - conda install --yes --channel http://bcu-ci.esrf.fr/stable --file requirements-test-conda.txt
  script:
      - pip install .
      - python setup.py test
  artifacts:
    paths:
      - htmlcov/
    expire_in: 7 days

build_doc:
  stage: build_doc
  before_script:
    - source activate tango2.7
    - conda install --yes --channel http://bcu-ci.esrf.fr/stable --file requirements-conda.txt
    - conda install --yes --channel http://bcu-ci.esrf.fr/stable --file requirements-doc-conda.txt
    - pip install -r requirements-doc.txt
  script: python setup.py build_sphinx
  artifacts:
    paths:
      - build/
    expire_in: 7 days

build_user_doc:
  stage: build_user_doc
  before_script:
          - conda install --yes --channel http://bcu-ci.esrf.fr/stable --file requirements-doc-conda.txt
          - pip install -r requirements-doc.txt
  script:
          - cd doc && mkdocs build
  artifacts:
      paths:
          - doc/site

pages:
  stage: deploy
  dependencies:
    - build_user_doc
    - build_doc
    - tests
  script:
    - mv doc/site/ public
    - mv build/sphinx/html public/api
    - mv htmlcov public/

  artifacts:
    paths:
      - public
    expire_in: 7 days
  only:
    - master
