# Conda requirement file (python 2.7)
enum34
gevent >= 1.2.2
redis  >= 2.8
PyYaml
jinja2 >= 2.7
flask
jedi
docopt
numpy
six >= 1.10
tabulate
sphinx
pyserial == 2.7
h5py
msgpack-python
pyzmq
pytango
python-graphviz
posix_ipc
h5py
blessings
zerorpc
msgpack_numpy
pygments
pip:
  - louie
  - treelib
  - gipc
  - bottle
  - ptpython == 0.39
  - sphinxcontrib-wavedrom >= 1.3
  - netifaces < 0.10.5
  - ruamel.yaml 

