# Conda requirements file
docopt
flask
gevent >= 1.4
gxx_linux-64
h5py
jedi
jinja2 >= 2.7
mock
msgpack-python >= 0.6.1
networkx
numpy >= 1.13
pandas
prompt_toolkit >= 2.0
psutil
pygments
pygraphviz >= 1.5
pyserial > 2
pytango > 9.2.4
python >= 3.7
pyyaml >= 5.1
pyzmq
redis >= 5.0
redis-py >= 3.2
requests
silx == 0.10.1
sqlalchemy
tabulate