
# Don't run this directly. Run bootstrap script instead

# --- mandatory dependencies -------------------------------

gevent <  1.2     ; python_version < '2.7'
gevent >= 1.2.2   ; python_version >= '2.7'
redis  >= 2.8
PyYaml
netifaces < 0.10.5
louie
jinja2 >= 2.7
flask
treelib
gipc
jedi
ptpython == 0.39
pygments == 1.6.0 ; python_version < '2.7'
docopt
bottle
numpy < 1.12      ; python_version < '2.7'
numpy             ; python_version >= '2.7'
six >= 1.10
tabulate
sphinx == 1.6.2
sphinxcontrib-wavedrom >= 1.3
pyserial == 2.7
ruamel.yaml == 0.11.15 

# --- test requirements ------------------------------------

pytest
pytest-cover

# --- optional dependencies --------------------------------

posix_ipc
pytest

# --- python < 2.7 dependencies ----------------------------

ordereddict   ; python_version < '2.7'
importlib     ; python_version < '2.7'
weakrefset    ; python_version < '2.7'
unittest2     ; python_version < '2.7'

# --- python < 3.4 dependencies ----------------------------

enum34        ; python_version < '3.4'
