# Conda requirements file
gevent == 1.3.7
redis  >= 2.8
jinja2 >= 2.7
flask
jedi
docopt
numpy >= 1.13
tabulate
pyserial > 2
h5py
msgpack-python >= 0.6.1
pyzmq
pytango > 9.2.4
h5py
pygments
sqlalchemy
pandas
mock
silx
psutil
requests
prompt_toolkit >= 2.0
gxx_linux-64
