# Conda dependencies for creating the package
# These packages normally are installed from pip
# But they need to be installed separately
# In order to have only conda dependencies in the bliss package
blessings
bottle
colorama
louie
mendeleev
msgpack-numpy >= 0.4.4.2
netifaces
nose >=0.10.1
pint
pyfiglet
ptpython >= 2.0
treelib
