# Conda requirement file
# Test requirements

black == 18.6b4
coilmq
lima-core == 1.9.6
lima-camera-simulator >= 1.9.2
lima-camera-simulator-tango >= 1.9.2
lima-tango-server == 1.9.6
opencv
py
pytest == 5.3.5
pytest-cov
pytest-mock
pytest-rerunfailures
scipy
ser2net
socat
stomp.py
tango_serialline
umodbus == 1.0.2.1
