
# Don't run this directly. Run bootstrap script instead

# --- mandatory dependencies -------------------------------

gevent<1.1
redis  >= 2.8
PyYaml
netifaces
louie
flask
treelib
gipc
jedi
ptpython
docopt
bottle
numpy
six >= 1.10
tabulate
sphinx >= 1.4
pyserial >= 3.0

# --- optional dependencies --------------------------------

ruamel.yaml
posix_ipc

# --- python < 2.7 dependencies ----------------------------

ordereddict   ; python_version < '2.7'
importlib     ; python_version < '2.7'
weakrefset    ; python_version < '2.7'
unittest2     ; python_version < '2.7'
