[opiom1]
serial = /dev/ttyS0
program = 20080208_164412_id22NI_opiom_2.8

[opiom2]
serial = /dev/ttyS1
program = 20100122_143221_id11-laser-1.0.prg


[APD]
name = APD counter
[APD.opiom1]
register = IM
shift = 0
mask = 0x3
APD1 = 0
APD2 = 1
APD3 = 2
chained_value = 3
[APD.opiom1.opiom2]
register = IMA
shift = 2
mask = 0x3
APD4 = 0
APD5 = 1
APD6 = 2
APD7 = 3

[CR1]
name = Correlator chan. A
[CR1.opiom1]
register = IM
shift = 1
mask = 0x3
MON=0
DET=1
APD1=2
APD2=3

[SHUTTER]
name = shutter mode
[SHUTTER.opiom1]
register = IM
shift = 3
mask = 0x3

DEFAULT = 0
ZAP = 1
FRELON1 = 2
SOFT = 3

[CAM1]
name = Frelon one
[CAM1.opiom1]
register = IMA
shift = 0
mask = 0x1
OFF = 0
ON = 1

[XIA1]
name = Xia
[XIA1.opiom1]
register = IMA
shift = 1
mask = 0x1
OFF = 0
ON = 1

[DETECTOR_TRIG_IN]
name = detector trig in
[DETECTOR_TRIG_IN.opiom1]
register = IM
shift = 5
mask = 0x1

COUNTER = 0
MUSST = 1

[SHUTTER_CTRL]
name = shutter control
[SHUTTER_CTRL.opiom1]
register = IM
shift = 6
mask = 0x3

CAM1 = 0
CAM2 = 1
VCT6 = 2
MUSST = 3



[ITRIG]
name = ITRIG MUSST
[ITRIG.opiom2]
register = IM
shift = 1
mask = 0x7

sampy = 0
sampz = 1
samy = 2
samz = 3
cam1 = 4
cam2 = 5
