[opiom1]
serial = /dev/ttyS0
program = Multiplexer
[opiom1.input_output]
ATRIG   	= I1   	# Input from Musst ATRIG.
BTRIG     	= I2   	# Input from Musst BTRIG
COUNTERS_IN    	= I3   	# Input from COUNTER card.
BOOST_MOT1  	= I4   	# Boost/Move motor 1
STEP_MOT1     	= I5   	# Step motor 1
BOOST_MOT2 	= I6   	# Boost/Move from motor2.
SOR_CAM1 	= I7   	# SOR camera 1
SHUTTER_CAM1 	= I8   	# shutter cam 1

BOOST_MOT3 	= IB1  	# Boost from motor3.
STEP_MOT3 	= IB2  	# step from motor3.
BOOST_MOT4 	= IB3  	# Boost from motor4.
STEP_MOT4 	= IB4  	# Vstep from motor4.
SOR_CAM2 	= IB5  	# SOR camera 2
SHUTTER_CAM2 	= IB6  	# shutter camera 2
SOR_CAM3 	= IB7  	# SOR camera 3
SHUTTER_CAM3 	= IB8  	# shutter camera 3

SHUTTER 	= O1    # SHUTTER Output
COUNTERS_OUT 	= 02  	# VCT6/P201.
TRIG_OUT_MCA1  	= 03	# MCA 1 like XIA
TRIG_OUT_MCA2  	= 04	# MCA 2
TRIG_OUT_CAM1	= 05 	# cam 1
TRIG_OUT_CAM2	= 06	# cam 2
TRIG_OUT_CAM3	= 07	# cam 3
TRIG_OUT_CAM4	= 08	# cam 4

ITRIG 		= OB1	# MUSST ITRIG
STEP_OUT 	= OB2	# MUSST I1
BOOST_OUT 	= OB3 	# MUSST I2

[shutter]
name = "Shutter output"
[shutter.opiom1]
register = IM
shift = 0
mask = 0x7

close = 0
open = 1
btrig = 2
cam1 = 3
cam2 = 4
cam3 = 5
counter = 6

[shutter_mode]
name = "Inverted shutter"
[shutter_mode.opiom1]
register = IMA
shift = 6
mask = 0x1

normal = 0
inverted = 1

[musst]
name = "Musst output to trig detector"
[musst.opiom1]
register = IM
shift = 7
mask = 0x1

atrig = 0
brtig = 1

[trigger_mode]
name = "select card trigger"
[trigger_mode.opiom1]
register = IM
shift = 7
mask = 0x1

counter_card = 0
musst = 1

[itrig]
name = "Musst input trigger"
[itrig.opiom1]
register = IM
shift = 3
mask = 0x3

off = 0
cam1 = 1
cam2 = 2
cam3 = 3

[motor]
name = "Motor selection"
[motor.opiom1]
register = IM
shift = 5
mask = 0x3

mot1 = 0
mot2 = 1
mot3 = 2
mot4 = 3

[MCA1]
name = "first mca"
[MCA1.opiom1]
register = IMA
shift = 0
mask = 0x1

off = 0
on = 1

[MCA2]
name = "second mca"
[MCA2.opiom1]
register = IMA
shift = 1
mask = 0x1

off = 0
on = 1

[CAM1]
name = "first cam"
[CAM1.opiom1]
register = IMA
shift = 2
mask = 0x1

off = 0
on = 1

[CAM2]
name = "first mca"
[CAM2.opiom1]
register = IMA
shift = 3
mask = 0x1

off = 0
on = 1

[CAM3]
name = "first mca"
[CAM3.opiom1]
register = IMA
shift = 4
mask = 0x1

off = 0
on = 1

[CAM4]
name = "first mca"
[CAM4.opiom1]
register = IMA
shift = 5
mask = 0x1

off = 0
on = 1
