          .control-panel-item-ready
          {
            float: left;
            display: inline-block;
            background-color: #d1ff50;
	    border: 3px solid #d1ff50 !important;

          }
          .control-panel-item-moving
          {
            float: left;
            display: inline-block;
            background-color: #f7d872;
	    border: 3px solid #f7d872 !important;
          }
          .control-panel-item-fault
          {
            float: left;
            display: inline-block;
            background-color: #fa5858;
	    border: 3px solid #fa5858 !important;
          }
	  .control-panel-item-home
          {
            float: left;
            display: inline-block;
            background-color: #88a0ff;
	    border: 3px solid #88a0ff !important;
          }
	  .control-panel-item-onlimit
          {
            float: left;
            display: inline-block;
            background-color: #b088ff;
	    border: 3px solid #b088ff !important;
          }
          .control-panel-item
          {
            float: left;
            display: inline-block;
            margin: 3px;
	    border: 1px solid #cccccc;
            font-family: helvetica;
            border-radius: 5px;
            font-size: x-small;
          }
          .control-panel-toggle {
            float: right;
            display: inline-block;
            background-color: #efefef;
            cursor: pointer; 
          }
          .control-panel-toggle-pressed {
            background-color: #404040;
            color: #F7F7F7;
          }
          .control-panel-header
          {
            float:left;
            width: 100%;
            display: block;
            font-family: monospace;
            background-color: #cccccc;
            font-size: 140%;
            font-variant: all-small-caps;
	    font-weight: bold;
	    text-align: center;
	    margin: 3px;
          }


.synoptic {
    background: #3F3F46;
}
.synoptic-element {
    border: solid 1px #666666;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}
.synoptic-element > ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}
.synoptic-element * li {
    background: #d1ff50;
    border-radius: 5px;
    font-family: monospace;
    border: 1px solid #999967;
}
.synoptic-element > legend {
    width: 100%;
    display: inline-block;
    background-color: #666666;
    font-variant: small-caps;
    text-align: center;
    color: #CCCC9A;
}

