<config>
  <controller class="mockup">
    <axis name="m0">
      <steps_per_unit value="1" />
      <backlash value="0.1" />
      <velocity value="100" />
    </axis>
  </controller>
  <controller class="simpliest">
    <axis name="tfm1" tags="real m0" />
    <axis name="m1" tags="m1" />
  </controller>
</config>

