          .control-panel-item-ready
          {
            float: left;
            display: inline;
            margin: 5px;
            background-color: #bcf5a9;
            border-radius: inherit;
            font-family: inherit;
            font-size: inherit;
          }
          .control-panel-item-moving
          {
            float: left;
            display: inline;
            margin: 5px;
            background-color: #f2f5a9;
            border-radius: inherit;
            font-family: inherit;
            font-size: inherit;
          }
          .control-panel-item
          {
            float: left;
            display: inline;
            margin: 5px;
            font-family: monospace;
            border-radius: 15px;
            font-size: 100%;
          }

