          .ui-tabs .ui-tabs-nav li a {font-size: 10px !important; }

          .code-font
          {
            font-family: monospace;
            font-size: 100%;
          }
          .items-list
          {
            font-family: monospace;
            font-size: 100%;
            width: 99%;
            margin: 0;
            padding: 0;
          }
          .completion-item
          {
            float: left;
            display: inline;
            margin: 5px;
            font-family: monospace;
            font-size: 100%;
          }
          .completion-item-selected
          {
            float: left;
            display: inline;
            margin: 5px;
            background-color: #cccccc;
            font-family: inherit;
            font-size: inherit;
            color: white;
          }
          .cmdline-executing
          {
              box-shadow: 0 0 2px #0000cc;
          }
          .hint
          {
              text-align:center;
              font-size:x-small;
              font-family: monospace;
              font-style: italic;
              color: grey;
              margin: 10px;
          }
          .output-executing
          {
              box-shadow: 0 0 2px #0000cc;
	      background-color: #E0F8F7;
          }

